POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=painting_db
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me

REDIS_HOST=localhost
REDIS_PORT=6379

MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me
